.diagonal {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  --background-2: linear-gradient(45deg, #fde047, #bef264, #10b981);
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
.diagonal-green {
  --skew-angle: -5deg;
  --background: linear-gradient(45deg, #00f260, #0575e6);
  position: relative;
  isolation: isolate;
}

.diagonal-green::after {
  content: "";
  background: var(--background);
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: skewY(var(--skew-angle));
}
.wavy {
  /* mask created with 
  https://css-generators.com/wavy-shapes/ */

  background: linear-gradient(to right, #00f260, #0575e6);

  --mask: radial-gradient(50.39px at 50% 68.75px, #000 99%, #0000 101%)
      calc(50% - 50px) 0/100px 51% repeat-x,
    radial-gradient(50.39px at 50% -43.75px, #0000 99%, #000 101%) 50% 25px/100px
      calc(51% - 25px) repeat-x,
    radial-gradient(50.39px at 50% calc(100% - 68.75px), #000 99%, #0000 101%)
      calc(50% - 50px) 100%/100px 51% repeat-x,
    radial-gradient(50.39px at 50% calc(100% + 43.75px), #0000 99%, #000 101%)
      50% calc(100% - 25px) / 100px calc(51% - 25px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
